name: CI ParamPunPam
on:
  pull_request:
    branches:
      - main
    paths-ignore:
      - 'RationalFunctionFields/**'
      - 'ParamPunPam/docs/**'
  push:
    branches:
      - main
    paths-ignore:
      - 'RationalFunctionFields/**'
      - 'ParamPunPam/docs/**'
jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        julia-version: ['1']
        julia-arch: [x64]
        os: [ubuntu-latest, windows-latest]
    steps:
      - uses: actions/checkout@v2
      - uses: julia-actions/setup-julia@latest
        with:
          version: ${{ matrix.julia-version }}
      - uses: julia-actions/julia-buildpkg@latest
      - uses: julia-actions/julia-runtest@latest
        with:
          depwarn: error
          project: 'ParamPunPam'
