name: Downgrade RationalFunctionFields
on:
  pull_request:
    branches:
      - main
    paths-ignore:
      - 'RationalFunctionFields/docs/**'
      - 'ParamPunPam/**'
  push:
    branches:
      - main
    paths-ignore:
      - 'RationalFunctionFields/docs/**'
      - 'ParamPunPam/**'
jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        group:
          - Core
        downgrade_mode: ['alldeps']
        julia-version: ['1.10']
    steps:
      - uses: actions/checkout@v6
      - uses: julia-actions/setup-julia@v2
        with:
          version: ${{ matrix.julia-version }}
      - uses: julia-actions/julia-downgrade-compat@v2
#        if: ${{ matrix.version == '1.6' }}
        with:
          skip: Pkg,TOML
          projects: RationalFunctionFields
      - uses: julia-actions/julia-buildpkg@v1
      - uses: julia-actions/julia-runtest@v1
        with:
          ALLOW_RERESOLVE: false
          project: 'RationalFunctionFields'
        env:
          GROUP: ${{ matrix.group }}
